<f:form.errors for="{objectName}">
    <f:if condition="{0:error.propertyName} == {0:'{propertyName}'}">
        <f:for each="{error.errors}" as="errorItem">
		fdgfdgsdfgsdfgsdfg<br/>
            <f:translate key="error.{error.name}.{errorItem.code}" htmlEscape="false">Not translatedxxxx: [{errorItem.message} ({errorItem.code})]</f:translate>
			 <f:translate key="error.{error.name}.{errorItem.code}" htmlEscape="false">Not translatedxxxx: [{errorItem.message} ({errorItem.code})]</f:translate>
			endegut <br/>
        </f:for>
    </f:if>
</f:form.errors>
