<h1><f:translate key="shout.header">this is just a empty marker (tomeccco)</f:translate></h1>
addshout
<!--<f:form method="post" controller="Shout" action="createshout" name="shout" object="{shout}">-->
<f:link.action action="index">home</f:link.action>
<f:link.action action="addshout" controller="Shout" arguments="{shout : 1}">addshout</f:link.action>
<f:link.action action="createshout" controller="Shout" arguments="{shout : 1}">createshout</f:link.action>
<div id="bx_shouts">
</div>
<f:form.textbox property="lastname" id="tx-ccco_shoutbox-name"></f:form.textbox><br />
<f:form.textbox property="lastname" id="tx-ccco_shoutbox-shout"></f:form.textbox>
<!-- <f:uri.action action="show" /> -->
<div id="bn_shout">
</div>
<!--<f:form.submit value="submit" />-->
</f:form>

