





<div id="archiveajaxmain">



<script type="text/javascript">
$(document).ready(function(){	
	$('.f3-widget-paginator').find('a').click(function() {
		uri = $(this).attr("href");
		$.ajax({
			url: uri,
			cache: false,
			dataType: 'html',
			error: function (xhr, status) {
				alert(status);
			},
			success: function(html){
				$('#archiveajaxmain').replaceWith(html);
			}
		});				
		return false;					
	});	
	$('.scrollbar').scrollbar();		
})
</script>
</div>






   



