{namespace shout=Tx_CccoShoutbox_ViewHelpers}
<div id="crcccosb">
	<h4 class="h4_arcv"><f:translate key="shout.ttlcccoshoutbox">ccco_shoutbox</f:translate></h4>
	<h5 class="h5_arcv"><f:translate key="shout.ttlarchive">Archive</f:translate></h5>
	<shout:widget.paginate objects="{shouts}" as="paginatedNews" configuration="{itemsPerPage: 4, insertAbove: 0, insertBelow: 1}">
		<section id="bx_shoutsarchive">
			<ul class="ul_shouts">
				<f:for each="{paginatedNews}" as="newsItem">
					<li>
						<strong>{newsItem.name}</strong> (<f:format.date format="d-m-Y H:i">{newsItem.date}</f:format.date>)<br />
						{newsItem.shout}
					</li>			
				</f:for>
			</ul>
		</section>
	</shout:widget.paginate>			
</div>


