<h1><f:translate key="shout.header">this is just a empty marker (tomeccco)</f:translate></h1>
createshout
<f:form action="Shout" controller="Shout" enctype="multipart/form-data">
<f:link.action action="addshout">home</f:link.action>
<f:link.action action="addshout" controller="Shout" arguments="{shout : 1}">addshout</f:link.action>
<f:link.action action="createshout" controller="Shout" arguments="{shout : 1}">createshout</f:link.action>
<div id="bx_shouts">
</div>
<f:form.textfield property="name" name="name" /><br />
<f:form.textarea rows="5" cols="30" property="shout" name="shout" />
<div id="bn_shout">
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#bn_shout').click(function(){
    	$('#bx_shouts').text('List(s):');		
		var dataString = 'name='+ $('#tx-ccco_shoutbox-name').val() + '&location=' + $('#tx-ccco_shoutbox-shout').val();
		$.ajax({
  			url: "index.php",
  			cache: false,
		    data: "tx_cccoshoutbox_pi1[controller]=ShoutController&tx_cccoshoutbox_pi1[action]=getData&type=89657201",
  			success: function(html){
				alert("bong");
  		}
		});	
	}); 
})
</script>
</f:form>
