<h1><f:translate key="shout.header">this is just a empty marker (tomeccco)</f:translate></h1>
<f:form method="post" action="createshout" name="shout" object="{shout}" id="shout">
<f:link.action action="index" controller="Shout" arguments="{shout : 1}">home</f:link.action>
<f:link.action action="addshout">addshout</f:link.action>
<f:link.action action="archive" controller="Shout" arguments="{shout : 1}">archive</f:link.action>
<div id="bx_shouts">
<ul id="ul_shouts">
<f:for each="{shouts}" as="oneshout">
	<li>
		<strong>{oneshout.name}</strong> (<f:format.date format="d-m-Y H:i">{oneshout.date}</f:format.date>)<br />
		{oneshout.shout}
	</li>
</f:for>
</ul>
</div>
<section>
<a href="#" class="fixedAjaxDOMWindow">this is a testlink for urls with parameter</a>
<f:link.action action="archiveajax" controller="Shout" pageType="19999" class="fixedAjaxDOMWindow">action link</f:link.action>
<script type="text/javascript">
<![CDATA[
var loaderimg = ']]>{f:uri.resource(path: 'Icons/loader.gif', absolute: 1)}<![CDATA[';
$('.fixedAjaxDOMWindow').openDOMWindow({ 
	height:200, 
	width:400, 
	positionType:'fixed', 
	positionTop:300, 
	positionLeft:300, 
	eventType:'click', 
	loader:1, 
	loaderImagePath:loaderimg, 
	loaderHeight:16, 
	loaderWidth:17, 
	windowSource:'ajax', 
	windowHTTPType:'get', 
	modal: 0,
	windowSourceAttrURL:'href'
});
//]]>
</script>
</section>
<f:form.textfield property="name" name="name" /><br />
<f:form.textarea rows="5" cols="30" property="shout" name="shout" /><br />
<f:form.submit value="submit" name="submit" id="bn_shout"/>
<script type="text/javascript">
	$(document).ready(function(){	
		var uri = '<f:uri.action action="createshoutajax" controller="Shout" pageType="19999" />';	
		var form = $("#shout");
		$("#shout").submit(function() {
			console.log("uri = "+ uri + "end");
			$.ajax({
				type: "POST",
				url: uri,
				data: form.serialize(),
				success: function(data) {
					console.log("ajaxrequest suceed");
					console.log(data);
					var items = [];
					$.each(data, function(key, val) {
						string = "<li><strong>"+data.name+"</strong> "+"("+data.date+")"+"<br/>"+data.shout+"</li>";
					});
					console.log(items.join(''));
					$('#ul_shouts').prepend(string);					
				}
			})
				return false;
		});
	})
</script>
</f:form>
