@charset "utf-8";
/* CSS Document */
#crcccosb {
	padding:0px 0px 0px 0px;
	width:320px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#E6E6E6;
	background-image:url(../Layout/header.gif);
	background-repeat:no-repeat;
	background-color:#FFF;
}
.h4_mn {
	visibility:hidden;
	margin:0px;
	padding:0px;
	height:15px;
	width:400px;
}
.h5_arcv {
	visibility:hidden;
	margin:0px;
	padding:0px;
	height:10px;
}
.h4_arcv {
	visibility:hidden;
	margin:0px;
	padding:0px;
	height:20px;
}
#head {
	width:320px;	
	height:95px;
}
#bx_shouts {
	margin:0px 0px 0px 0px;
	padding:5px;
	width:310px;
	height:190px;
	color:#000;
	background-color:#E6E6E6;
	overflow:hidden;
}
#bx_error {
	margin:0px;
	padding:10px 0px 0px 5px;
	width:320px;
	height:25px;
	color:#f7931e;
	background-image:url(../Layout/bgbx_shoutbox.gif);
}
#f_shout {
	clear:both;
	margin:0px 0px 0px 0px;
	width:320px;
}
#fssht {
	margin:0px;
	padding:0px;
	width:320px;
	border:none;
}
#bn_shout {
	float:right;
	margin:5px 0px 0px 0px;
	width:100px;
	height:20px;
	border:none;
	color:#FFF;
	background-color:#E6E6E6;
}
.lblfssht {
	display:block;
	padding:0px 0px 0px 0px;
	width:320px;
}
.lb_nme {
	display:block;
	padding:0px 0px 0px 0px;
	width:320px;
}
.lb_sht {
	display:block;
	padding:0px 0px 0px 0px;
	width:320px;
}
.inp_nme {
	width:320px;
	border:none;
	background-color:#E6E6E6;
}
.tx_shts {
	width:320px;
	height:90px;
	border:none;
	background-color:#E6E6E6;
}
#img_loader {
	margin:120px 0px 0px 242px;
}
#bx_ajxshtsacve {
	margin:0px 0px 0px 0px;
	padding:5px;
	width:470px;
	height:170px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000000;
}
.ul_shouts {
	margin:0px;
	padding:0px;
	list-style:none;
}
#archive {
	float:right;
	color:#E6E6E6;
	text-decoration:underline;
}
/* pagebrowserwidget srt*/
.ul_pgs {
	float:left;
	padding:0px;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	list-style:none;
}
.ul_pgs li {
	float:left;
	margin:0px;
	padding:0px;	
	width:20px;
	height:20px;
	background-color:#999;
}
.li_fst span {
	display:inline-block;
	margin:0px;	
	padding:0px;
	width:20px;
	height:20px;
	background-image:url(../Layout/bn_prfirst.gif);
}
.li_fst a {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	background-image:url(../Layout/bn_prfirst.gif);
}
.li_fst a:hover {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	background-position:0px -20px;
}
.li_prv a {
	display:inline-block;
	margin:0px;	
	padding:0px;
	width:20px;
	height:20px;
	background-image:url(../Layout/bn_prback.gif);
}
.li_prv a:hover {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	background-position:0px -20px;
}
.li_prv span {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	background-image:url(../Layout/bn_prback_n.gif);
}
.li_pg a {
	display:inline-block;
	margin:0px;
	padding:3px 0px 0px 3px;
	width:17px;
	height:17px;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	background-color:#e6e6e6;
}
.li_pg a:hover {
	display:inline-block;
	margin:0px;
	padding:3px 0px 0px 3px;
	width:17px;
	height:17px;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	background-color:#f2f2f2;
}
.li_pg span {
	display:inline-block;
	margin:0px;
	padding:3px 0px 0px 3px;
	width:17px;
	height:17px;
	font-weight:bold;
	color:#FFF;
	text-decoration:none;
	background-color:#f2f2f2;
}
.li_nxt a {
	display:inline-block;
	margin:0px;	
	padding:0px;
	width:20px;
	height:20px;
	background-image:url(../Layout/bn_prforward.gif);
}
.li_nxt a:hover {
	display:inline-block;
	margin:0px;	
	padding:0px;
	width:20px;
	height:20px;
	background-position:0px -20px;
}
.li_nxt span {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
}
.li_lst a {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	background-image:url(../Layout/bn_prlast.gif);
}
.li_lst a:hover {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
	background-position:0px -20px;
}
.li_lst span {
	display:inline-block;
	margin:0px;
	padding:0px;
	width:20px;
	height:20px;
}
/* pagebrowserwidget end*/
#DOMWindow .ul_pgs {
	margin:24px 0px 0px 0px;
	padding:0px;
}
#DOMWindow .ul_pgs li {
	margin:0px 5px 0px 0px;
}



